.map-container {
  position: relative;
  height: 100%;

  &__background-image {
    width: fit-content;
    height: 100%;
  }

  &__path-button {
    position: absolute;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    cursor: pointer;

    &--right {
      transform: scaleX(-1);
    }
  }
}