.navigator {
  position: fixed;
  z-index: 1;
  padding: 10px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--left {
    left: 0;
    transform: scaleX(-1);
  }

  &--right {
    right: 0;
  }
}